@(userForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@controls = {
    <a href="/admin/users">Users</a>
    <a href="/admin/roles">Roles</a>
}

@main("Admin Home")(controls) {

    <h1>Admin Home</h1>

    @helper.form(action = routes.Users.submit) {
        <fieldset>
            <legend>User Details</legend>

            @inputText(
            userForm("name"),
            '_label -> "Name",
            '_help -> "Please enter a username.",
            '_error -> userForm.globalError
            )
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn primary" value="Create">
            <a href="@routes.Users.index" class="btn">Cancel</a>
        </div>
    }
}