@(userForm: Form[User])

@import helper._
@import helper.twitterBootstrap._

@controls = {
    <a href="/admin/users">Users</a>
    <a href="/admin/roles">Roles</a>
}

@main("Admin Home")(controls) {

    <h1>Admin Home</h1>

    @helper.form(action = routes.Users.submit) {
        <fieldset>
            <legend>User Details</legend>

            @inputText(
            userForm("name"),
            '_label -> "Name",
            '_help -> "Please enter a username."
            )

            @inputText(
            userForm("email"),
            '_label -> "Email",
            '_help -> "Enter a valid email address.",
            '_error -> userForm.error("email")
            )

            @inputPassword(
            userForm("password.main"),
            '_label -> "Password",
            '_help -> "A password must be at least 6 characters. "
            )

            @inputPassword(
            userForm("password.confirm"),
            '_label -> "Repeat password",
            '_help -> "Please repeat your password again.",
            '_error -> userForm.error("password")
            )
        </fieldset>

        <div class="actions">
            <input type="submit" class="btn primary" value="Create">
            <a href="@routes.Users.index" class="btn">Cancel</a>
        </div>
    }
}