@(user: User, supervisees: List[User], roles: List[Role])

@controls = {
    <a href="/admin/users">Users</a>
    <a href="/admin/roles">Roles</a>
}

@main("Details")(controls){
    <h3>Details</h3>
    <ul>
        <li>Name: @user.name</li>
        <li>Id: @user.id</li>
    </ul>
    <hr/>

    <h3>Relationships</h3>
    <h4>Supervisees</h4>
    <ul>
        @supervisees.map { supervisee =>
            <li><a href="/admin/users/@supervisee.id">@supervisee.name</a></li>
        }
    </ul>
    <a href="/admin/users/@user.id/supervisees">Add Supervisees</a>
    <h4>Supervisors</h4>
    <hr/>

    <h3>Roles</h3>
    <ul>
        @roles.map { role =>
           <li>@role.name</li>
        }
    </ul>
    <a href="/admin/users/@user.id/addRole">Add Role</a>
}