@(title: String)(sidebar: Html)(content: Html)

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>@title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script type="text/javascript" language="javascript" src="@routes.Assets.at("javascripts/jquery-1.7.1.min.js")" ></script>
        <script type="text/javascript" language="javascript" src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span3">
                    <div class="well sidebar-nav">
                        @sidebar
                    </div><!--/.well -->
                </div><!--/span-->
                <div class="span9">
                    <div class="hero-unit">
                        @content
                    </div>
                </div><!--/span-->
            </div><!--/row-->

            <hr>
        </div><!--/.fluid-container-->
    </body>
</html>
